body {
    background: #F3F5FC;
    width: 95vw;
    min-width: 350;
}

main{
    width: 80vw;
    margin: 0 auto;
    height: 20px;
}

#contenido{
    position: absolute;
    display: flex;
    top: 20px;
    height: 50px;
    width: 80%;
}

.cont1{
    width: 50%;
}

.logo {
    display: inline-block;
    width: 120px;
    height: 48px;
}

#area-texto {
    width: 80%;
    height: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: none;
    border: none;
    resize: none;
    margin: 1em;
}

.frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin: 15em 0 0;
}

.frame1 p {
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#btnEncriptar {
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;

    /*css texto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

#btnDesencriptar {
    box-sizing: border-box;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /*css texto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.cont2 {
    width: 50%;
    height: 90vh;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 2em 2em;
}

#textoResultado {
    margin: 32px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.muñeco {
    position: relative;
    width: 336px;
    height: 304px;
    top: 15vh;
    margin: 0 auto;
}

#texto1 {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#texto2 {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#btnCopiar {
    box-sizing: border-box;
    padding: 24px;
    width: 336px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;

    /*css texto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    visibility: hidden;
}

@media screen and (min-width: 350px) {
    .cont1{
        width: 100%
    }
    .cont2{
        position: absolute;
        top: 43em;
        width: 100%;
        margin: 0;
        height: 50vh
    }
    .muñeco, .muñeco img, #texto1, #texto2{
        width: 200px;
    }
    .muñeco img{
        display: none;
    }
    .frame1{
        margin: 2em auto;
    }
    .frame3{
        flex-direction: column;
    }
}

@media screen and (min-width: 750px) {
    .cont1{
        width: 100%
    }
    .cont2{
        position: absolute;
        top: 33em;
        margin: 0 auto;
    }
    .muñeco, .muñeco img, #texto1, #texto2{
        width: 200px;
    }
    .muñeco img{
        display: none;
    }
    .frame1{
        margin: 2em auto;
    }
    .frame3{
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .cont1{
        width: 50%
    }
    .cont2{
        position: unset;
        max-width: 450px;
        top: 0;
        width: 50%;
        margin: 2em 2em;
        height: 90vh;
    }
    .muñeco, .muñeco img, #texto1, #texto2{
        width: 336px;
        top: 15vh;
    }
    .muñeco img{
        display: initial;
    }
    .frame3{
        flex-direction: row;
    }
}